In [1]:
'''This script is a part of Monash Sprint Challenge'''
   
__author__ = 'Sandeep Kumar Kola'
__email__ = 'sandeep.kola07@gmail.com'

Date: 13/05/2018

Version: 1.0

Environment: Python 3.6 and Jupyter notebook

Libraries used:
* pandas (for dataframes, included in Anaconda Python 3.6)

### Task 2
Integrating the Job datasets:

#### 1) Import the libraries.

In [ ]:
import pandas as pd

#### 2) Read the data using pandas.

In [ ]:
dataset1 = pd.read_csv("dataset1_solution.csv")
dataset2 = pd.read_csv("dataset2_integration.csv")

In [ ]:
# Check columns
dataset1.columns

In [ ]:
dataset2.columns

* Some of the Column names are different.

In [ ]:
# Use pandas concat to join the dataframes.
dataset1_dataset2_solution = pd.concat([dataset1, dataset2])

In [ ]:
dataset1_dataset2_solution.head(5)

* Since column names are different we have data in two different columns for:
* ContractType : Contract Type
* ContractTime : Contract Time
* SourceName : Source name
* Location : location
* SalaryPerAnnum : Salary per month

#### 4) Strategy is to impute the values of the dataset2 where found missing in dataset1_dataset2_solution and drop the extra columns.

In [ ]:
# Impute the missing values of "ContractTime" in the dataset1_dataset2_solution from the dataset2 values.
dataset1_dataset2_solution.loc[dataset1_dataset2_solution['ContractTime'].isnull(),
                               'ContractTime'] = dataset2['Contract Time']

In [ ]:
# Impute the missing values of "ContractType" in the dataset1_dataset2_solution from the dataset2 values.
dataset1_dataset2_solution.loc[dataset1_dataset2_solution['ContractType'].isnull(),
                               'ContractType'] = dataset2['Contract Type']

In [ ]:
# Impute the missing values of "SourceName" in the dataset1_dataset2_solution from the dataset2 values.
dataset1_dataset2_solution.loc[dataset1_dataset2_solution['SourceName'].isnull(),
                               'SourceName'] = dataset2['Source Name']

In [ ]:
# Impute the missing values of "Location" in the dataset1_dataset2_solution from the dataset2 values.
dataset1_dataset2_solution.loc[dataset1_dataset2_solution['Location'].isnull(),
                               'Location'] = dataset2['location']

In [ ]:
# Replace and change it to per annum by multiplying by 12
dataset1_dataset2_solution.loc[dataset1_dataset2_solution['SalaryPerAnnum'].isnull(),
                               'SalaryPerAnnum'] = dataset2['Salary per month']*12

In [ ]:
# Drop the unnecessary redundant columns.
dataset1_dataset2_solution.drop(['Contract Type', 'Contract Time', 'Source Name', 'location', 'Salary per month'], 
                                axis=1, inplace=True)

In [ ]:
# Look at the data.
dataset1_dataset2_solution.head(5)

#### 5) Fix ContractType Column

In [ ]:
# Get unique values.
dataset1_dataset2_solution["ContractType"].unique()

In [ ]:
# Change it to values as per dataset1.
dataset1_dataset2_solution.ContractType.replace({'n/a':'non-specified'},inplace=True)
dataset1_dataset2_solution.ContractType.replace({'ft':'full-time'},inplace=True)
dataset1_dataset2_solution.ContractType.replace({'pt':'part-time'},inplace=True)

#### 5) Fix ContractTime Column

In [ ]:
# Get unique values.
dataset1_dataset2_solution["ContractTime"].unique()

In [ ]:
# Change it to values as per dataset1.
dataset1_dataset2_solution.ContractTime.replace({'n/a':'non-specified'},inplace=True)
dataset1_dataset2_solution.ContractTime.replace({'contr.':'contract'},inplace=True)
dataset1_dataset2_solution.ContractTime.replace({'perm.':'permanent'},inplace=True)

#### 6) Set Id as index and search for duplicate values.

In [ ]:
dataset1_dataset2_solution.set_index('Id', inplace=True)
dataset1_dataset2_solution.head(5)

In [ ]:
dup_values = dataset1_dataset2_solution[dataset1_dataset2_solution.duplicated(keep='first')]
dup_values.head(5)

In [ ]:
len(dup_values)

* There are 181 duplicated records. Keep the first unique record and delete the rest.

In [ ]:
dataset1_dataset2_solution = dataset1_dataset2_solution.drop_duplicates()

#### 7) Global key.
* Leaving Id aside, since Id is always a unique value let's find a global key which should identiy duplicate rows.

In [ ]:
dup_exist = dataset1_dataset2_solution[dataset1_dataset2_solution.duplicated(subset=['Category', 'CloseDate', 'Company', 'ContractTime', 'ContractType',
       'Location', 'OpenDate'], keep='first')]
dup_exist

In [ ]:
# Lets add one more column and check for globalkey.
dup_exist = dataset1_dataset2_solution[dataset1_dataset2_solution.duplicated(subset=['Category', 'CloseDate', 'Company', 'ContractTime', 'ContractType',
       'Location', 'OpenDate', 'SalaryPerAnnum'], keep='first')]
dup_exist

#### Leaving Id, at a minimum we need to provide 'Category', 'CloseDate', 'Company', 'ContractTime', 'ContractType', 'Location', 'OpenDate' to identify duplicate rows. This is the global key.

In [ ]:
# Create a csv file.
dataset1_dataset2_solution.to_csv('dataset1_dataset2_solution.csv', sep=',')
print("Check the working directory for the file dataset1_dataset2_solution.csv")

#### End of the Task 2